@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@800&display=swap');

body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.png') no-repeat fixed;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#navbar,
#navbar a,
#status,
#players,
#ip {
	color: white;
	font-size: x-large;
	font-family: 'Exo 2', sans-serif;
	font-weight: 800;
}

#navbar div div a {
	position: relative;
	color: white;
	text-decoration: none;
}

#navbar div div a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: white;
	transform: scaleX(0);
	transition: transform 0.5s ease;
}

#navbar div div a:hover::before {
	transform: scaleX(1);
}

#logo {
	height: 200px;
	margin-top: 15%;
}

#navbar {
	margin-top: 5%;
	text-align: center;
}